.header {
    background-color: grey;
    text-align: center;
}

.addBook {
    text-align: center;
    background-color: rgb(107, 107, 206);
}

#book-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
.book-card {
    border: 5px solid black;
    border-left: none;
    border-radius: 10px;
    width: 200px;
}

.checkbox-input {
    margin-left: 5px;
}

.read{
    border-left: green solid 5px;
}

.not-read {
    border-left: red solid 5px;
}